* { 
  font-size: 20px;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5 !important;
  font-family: 'Terminal Grotesque' !important;
  background: url(./assets/img/cizgi.png) no-repeat center 6% scroll; 
  background-size: auto;
  &.magenta {
    background-color: #ec5b9e !important;
    background-image:none;
    transition: background-color 250ms linear;
  }
  &.cyan {
    background-color: #018dcb !important;
    background-image:none;
    transition: background-color 250ms linear;
  }
  &.yellow {
    background-color: #f5f16f !important;
    background-image:none;
    transition: background-color 250ms linear;
  }
  &.key-black {
    background-color: #231f20 !important;
    background-image:none;
    transition: background-color 250ms linear;
  }
}


.container-fluid {
  max-width: 1620px !important;
  &.key-black-text{
    color: white !important;

  }
  .main-ctn{
    padding-bottom: 14rem;
    .about-ctn {
      padding-top: 5rem;
      padding-bottom: 2rem;
      .key {
        font-family: 'Anafor Basic';
      }
    }
    .intro-text {
      padding-top: 4rem;
      span {
        font-family: 'Anafor Basic' !important;
      }
    }
    .center {
      position: relative;
  
      .hero {
        border: 2px solid black;
        width: 90%;
        top: -10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .wall {
        position: absolute;
        top: 75%;
        left:6rem;
        width: 80%;
      }
    }
  }

  .header-ctn {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    .hamburger {
      padding: 0 !important;
      z-index: 3;
      position: relative;

      .hamburger-box {
        .hamburger-inner {
          width: 24px !important;
          height: 3px !important;
          border-radius: 0 !important;
          &.white-bg {
            background-color: white;
            &::before {
              background-color: white;
              // top: -8px !important;
            }
            &::after {
              background-color: white;
              top: -16px !important;
            }
          }
          &::before {
            width: 24px !important;
            height: 3px !important;
            border-radius: 0 !important;
          }
          &::after {
            width: 24px !important;
            height: 3px !important;
            border-radius: 0 !important;
          }
        }
      }
    }
    .logo {
      position: fixed;
      top: 150px;
      left:0;
      right: 0;
      z-index: 2;
      width: 50%;
    }
    .lang{
      z-index: 3;
      cursor: pointer;
      .en {
        position: relative;
        &::after {
          position: absolute;
          content: '';
          height: 2px;
          bottom: 1px; 
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 100%;
          background-color: black;
        } 
      }
      .tr {
        position: relative;
        &::after {
          position: absolute;
          content: '';
          height: 2px;
          bottom: 1px; 
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 100%;
          background-color: black;
        } 
      }
    }

  }
  .menu-ctn {
    list-style: none;
    padding-inline-start: 0 !important;
    position: absolute;
    left: 1rem;
    top: 10rem;
    z-index: 3;
    padding-bottom: 14rem;
    li {
      span {
        font-size: 2rem;
        position: relative;
        &:hover {
          cursor: pointer;
          &::after {
            position: absolute;
            content: '';
            height: 3px;
            bottom: 3px; 
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 100%;
            background-color: black;
          } 
        }
      }

    }
  }
  .book {
    padding-top: 2rem;
    padding-bottom: 6rem;
    .page-ctn {
      position: relative;

      &:nth-child(even){
        padding-right: 50px;
        div {
          position: absolute;
          left: calc(50% - 15px);
          bottom: 2rem;
          transform: translateX(-50%);
          color: black !important;
        }
      }
      &:nth-child(odd){
        padding-left: 50px;
        div {
          position: absolute;
          left: calc(50% + 20px);
          bottom: 2rem;
          transform: translateX(-50%);
          color: black !important;
        }
      }
      &:first-child {
        visibility: hidden;
      }
      &:last-child {
        visibility: hidden;
      }
      a{
        display: flex;
        align-items: flex-start;
        img {
          border: 2px solid black;
          margin-bottom: 2rem;
        }
      }

    }

  }

}

