* { 
  font-size: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black !important;

  &:hover {
    color: black !important;
    text-decoration: none !important;

  }
  &:focus {
    color: black !important;

  }
  &:active {
    color: black !important;

  }
  &:focus-within {
    color: black !important;
  }
  &:visited {
      color: black !important;
  }
}

body {
  background-color: #e5e5e5 !important;
  font-family: 'Terminal Grotesque' !important;
  background: url(./assets/img/cizgi.png) no-repeat center 6% scroll; 
  background-size: auto;
  color: #1d1d1d;
  &.magenta {
    background-color: #ec5b9e !important;
    background-image:none;
    transition: background-color 250ms linear;
  }
  &.cyan {
    background-color: #018dcb !important;
    background-image:none;
    transition: background-color 250ms linear;
  }
  &.yellow {
    background-color: #f5f16f !important;
    background-image:none;
    transition: background-color 250ms linear;
  }
  &.key-black {
    background-color: #231f20 !important;
    background-image:none;
    transition: background-color 250ms linear;
    a{
      color: white !important;
      &:hover {
        color: white !important;
        text-decoration: none !important;
    
      }
    }
  }
}

.dn {
  display: none !important;
  top:130px !important;
}

.nd {
  display: block !important;
}

.container-fluid {
  max-width: 1620px !important;
  &.key-black-text{
    color: white !important;

  }
  .main-ctn{
    padding-bottom: 14rem;
    .about-ctn {
      padding-top: 5rem;
      padding-bottom: 2rem;
      .key {
        font-family: 'Anafor Basic';
      }
    }
    .intro-text {
      padding-top: 4rem;
      span {
        font-family: 'Anafor Basic' !important;
      }
    }
    .center {
      position: relative;
  
      .hero {
        border: 2px solid black;
        width: 90%;
        top: -10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .wall {
        position: absolute;
        top: 75%;
        left:6rem;
        width: 80%;
      }
    }
  }
  .onagore-wrp {
    .onagore-ctn {
      position: absolute;
      top: 80vh;
      display: flex;
      flex-direction: column;
      img {
        width: 50%;
        margin-top: -10px;
      }
    }
  }
  .logo-col {
    display: flex;
    align-items: center;
    .onagore-st-ctn-x {
      width: 10%;
      padding-left: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
      img {
        margin-top:0;
      }
    }
    .onagore-st-ctn {
      display: flex;
      flex-direction: column;
      width: 80px;
      padding-right: 10px;
      img {
        // width: 7%;
        margin-top: -10px;
      }
    }
  }
  
  .header-ctn {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    .hamburger {
      padding: 0 !important;
      z-index: 3;
      position: relative;

      .hamburger-box {
        .hamburger-inner {
          width: 24px !important;
          height: 3px !important;
          border-radius: 0 !important;
          &.white-bg {
            background-color: white;
            &::before {
              background-color: white;
              // top: -8px !important;
            }
            &::after {
              background-color: white;
              top: -16px !important;
            }
          }
          &::before {
            width: 24px !important;
            height: 3px !important;
            border-radius: 0 !important;
          }
          &::after {
            width: 24px !important;
            height: 3px !important;
            border-radius: 0 !important;
          }
        }
      }
    }
    .logo {
      position: fixed;
      top: 150px;
      left:0;
      right: 0;
      z-index: 2;
      width: 20%;
    }
    .lang{
      z-index: 3;
      cursor: pointer;
      
      .en {
        position: relative;
        &.true {
          &::after {
            position: absolute;
            content: '';
            height: 2px;
            bottom: 3px; 
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 100%;
            background-color: white !important;
          }
      }
        &::after {
          position: absolute;
          content: '';
          height: 2px;
          bottom: 3px; 
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 100%;
          background-color: black;
        } 
      }
      .tr {
        position: relative;
        &.true {
          &::after {
            position: absolute;
            content: '';
            height: 2px;
            bottom: 3px; 
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 100%;
            background-color: white !important;
          }
      }
        &::after {
          position: absolute;
          content: '';
          height: 2px;
          bottom: 3px; 
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 100%;
          background-color: black;
        } 
      }
    }

  }
  .menu-ctn {
    list-style: none;
    padding-inline-start: 0 !important;
    position: absolute;
    // left: 1rem;
    // top: 10rem;
    z-index: 3;
    padding-top: 4rem;
    li {
      span {
        font-size: 2rem;
        position: relative;
        cursor: pointer;
        &.true {
          // &:hover {
          //   &::after {
          //     position: absolute;
          //     content: '';
          //     height: 2.6px;
          //     bottom: 6px; 
          //     margin: 0 auto;
          //     left: 0;
          //     right: 0;
          //     width: 100%;
          //     background-color: white !important;
          //   }
          // }

        }
        &.kunye {
          &::after {
            position: absolute;
            content: '';
            height: 2.6px;
            bottom: 6px; 
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 100%;
            background-color: white !important;
          }
          &.active {
            &::after {
              position: absolute;
              content: '';
              height: 2.6px;
              bottom: 6px; 
              margin: 0 auto;
              left: 0;
              right: 0;
              width: 100%;
              background-color: white !important;
            } 
          }
        }
        &.active {
          &::after {
            position: absolute;
            content: '';
            height: 2.6px;
            bottom: 6px; 
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 100%;
            background-color: black;
          } 
        }
        // &:hover {
        //   cursor: pointer;
        //   &::after {
        //     position: absolute;
        //     content: '';
        //     height: 2.6px;
        //     bottom: 6px; 
        //     margin: 0 auto;
        //     left: 0;
        //     right: 0;
        //     width: 100%;
        //     background-color: black;
        //   } 
        // }
      }

    }
  }
  .book {
    padding-top: 2rem;
    padding-bottom: 6rem;
    .page-ctn {
      position: relative;

      &:nth-child(even){
        padding-right: 50px;
        div {
          position: absolute;
          left: calc(50% - 15px);
          bottom: 2rem;
          transform: translateX(-50%);
          color: black !important;
        }
      }
      &:nth-child(odd){
        padding-left: 50px;
        div {
          position: absolute;
          left: calc(50% + 20px);
          bottom: 2rem;
          transform: translateX(-50%);
          color: black !important;
        }
      }
      &:first-child {
        visibility: hidden;
      }
      &:last-child {
        visibility: hidden;
      }
      a{
        display: flex;
        align-items: flex-start;
        img {
          border: 2px solid black;
          margin-bottom: 2rem;
        }
      }

    }

  }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  body{
    background-position: center 2% !important;
  }
  .dn {
    display: block !important;
  }
  .nd {
    display: none !important;
  }
  .book {
    padding-top: 4rem !important;
    margin-top: 4rem !important;
  }
  .menu-ctn {
    width: 100% !important;
    left:0 !important;
    top: -260px;
    li {
      span {
        font-size: 1.5rem !important;
        margin-left: 10% !important;
      }
    }
  }
  .onagore-wrp{
    width: 90%;
    margin: 0 auto;
    .onagore-ctn {
      top:120% !important;
      img {
        width: 30% !important;
      }
    }
  }
  .logo-col {
    justify-content: space-between !important;
    .onagore-st-ctn {
      width: 100px !important;
      padding-left: 10% !important;
    }
    .onagore-st-ctn-x {
      width: 30% !important;
    }
  }
  
  .header-ctn {
    width: 90% !important;
    margin: 0 auto !important;
    padding-top: 2rem !important;
    &.mobile {
      padding-bottom: 18rem;
    }
    .logo {
      width: 70% !important;
      top:130px !important;

    }

  }
  .main-ctn {
    padding-bottom: 0 !important;
    .about-ctn {
      width: 90% !important;
      margin: 0 auto !important;
    }
    .hid {
      display: none !important;
    }
    .center {
      padding-top: 2rem !important;
      a{
        .wall {
          left:3rem !important;
        }
      }
    }
    .intro-text{
        width: 90% !important;
        margin: 0 auto !important;

    }
    .first-p{
      padding-top: 8rem !important;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    background-position: center 3% !important;
  }
  .dn {
    display: block !important;
  }
  .nd {
    display: none !important;
  }
  .header-ctn {
    width: 80% !important;
    margin: 0 auto !important;
    &.mobile {
      padding-bottom: 18rem;
    }
    .logo {
      width: 50% !important;
      top: 180px !important;
    }
  }
  .book {
    padding-top: 4rem !important;
    margin-top: 4rem !important; 
  }
  .menu-ctn {
    width: 100% !important;
    left:0 !important;
    top: -230px;
    padding-top: 6rem !important;
    li {
      span {
        font-size: 2rem !important;
        margin-left: 11% !important;
      }
    }
  }
  .onagore-ctn {
    top:180% !important;
    img {
      width: 50% !important;
      margin-left: 30% !important;
    }
  }
  .onagore-st-ctn {
    // width: 80% !important;
    // width: 71px !important;
    width: initial !important;
    padding-left: 10% !important;
    img {
      width: 60px !important;
    }
    span {
      font-size: 0.8rem !important;
    }
  }
  .main-ctn {
    .about-ctn {
      width: 80% !important;
      margin: 0 auto !important;
      padding-top: 15rem !important;
    }
    .hid {
      display: none !important;
    }
    .center {
      padding-top: 2rem !important;
      .hero {
        width: 80% !important;
      }
      .wall {
        left: 7rem !important;
      }
    }
    .intro-text{
      width: 80% !important;
      margin: 0 auto !important;

    }
    .first-p{
      padding-top: 18rem !important;
    }
  }
}